h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}

/* NAVBAR */
.navbar-brand {
  font-family: 'Fraunces', serif;
}

.btn {
  border-radius: 1rem;
  font-family: 'Fraunces', serif;
}

.navbar .navbar-nav {
  position: relative;
  border-radius: 1rem;
  margin: 1.5rem auto 0 auto;
  width: auto;
  padding: 2rem 0;
  background: #fff;
}
@media (max-width: 992px) {
  .navbar .navbar-nav::after {
    content: '';
    position: absolute;
    top: -1.2rem;
    right: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 24px solid #fff;
  }
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: hsl(232, 10%, 55%);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: hsl(212, 27%, 19%);
}

@media (min-width: 992px) {
  .navbar .navbar-nav {
    position: relative;
    background: transparent;
    width: auto;
    margin: 0;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    opacity: 0.9;
  }

  .btn.btn-light:hover,
  .btn.btn-light:active {
    color: #fff;
    background: rgba(6, 177, 250, 0.2);
  }
}

/* HEADER */

header {
  background-image: url('../images/desktop/image-header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Barlow', sans-serif;
}

header > div {
  transform: translate(-50%, 0%);
}

header .animate-arrrow {
  animation: bounce 2s infinite;
}

header .hero-text {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media (min-width: 992px) {
  header .hero-text {
    top: 25%;
  }
}

/* Animation */
@keyframes bounce {
  0% {
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, 0%);
  }
  70% {
    top: 40%;
  }
  100% {
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, 0%);
  }
}

h3.text-dark-blue {
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}

h3.text-dark-cyan {
  font-weight: 900;
  color: hsl(167, 40%, 24%);
}

.lead-blue {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: hsl(213, 9%, 39%);
  font-size: 1.1rem;
}

.lead-dark-cyan {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: hsl(167, 40%, 24%);
  font-size: 1rem;
}

.lead-dark-blue {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: hsl(212, 27%, 19%);
  font-size: 1rem;
}

/* BODY */

.figure,
.figure-img {
  margin-bottom: 0;
}

.learn-more-link-yellow {
  text-transform: uppercase;
  color: hsl(0, 0%, 25%);
  text-decoration: none;
  position: relative;
}

.learn-more-link-yellow::after {
  content: '';
  position: absolute;
  bottom: 10%;
  height: 10px;
  left: 0%;
  opacity: 0.2;
  width: 100%;
  border-radius: 1rem;
  background: hsl(51, 100%, 49%);
}

.learn-more-link-yellow:hover {
  color: hsl(212, 27%, 19%);
}

.learn-more-link-yellow:hover:after {
  opacity: 0.75;
}

.learn-more-link-red {
  text-transform: uppercase;
  color: hsl(0, 0%, 25%);
  text-decoration: none;
  position: relative;
}

.learn-more-link-red::after {
  content: '';
  position: absolute;
  bottom: 10%;
  height: 10px;
  left: 0%;
  width: 100%;
  opacity: 0.2;
  border-radius: 1rem;
  background: hsl(7, 99%, 70%);
}

.learn-more-link-red:hover {
  color: hsl(212, 27%, 19%);
}

.learn-more-link-red:hover:after {
  opacity: 0.75;
}

/* TESTIMONIAL */
.testimonial-section {
  padding: 5rem 2rem;
  background: hsl(7, 99%, 70%, 0.05);
}

.testimonial-section h2 {
  font-size: 1.3rem;
  font-family: 'Fraunces', serif;
  color: hsl(232, 10%, 55%);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.testimonial {
  text-align: center;
  width: 100%;
}

.testimonial .testimonial-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.testimonial .testimonial-blockquote p {
  font-size: 0.9rem;
  color: hsl(213, 9%, 39%);
  font-weight: 600;
}

.testimonial .testimonial-person {
  font-weight: 800;
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
}

.testimonial .testimonial-designation {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 0%;
  color: hsl(210, 4%, 67%);
  font-family: 'Barlow', serif;
}

/* FOOTER */
footer {
  background: hsl(168, 34%, 41%, 0.6);
}

.footer-brand {
  font-size: 2rem;
  color: hsl(167, 40%, 24%);
}

footer .nav-link {
  color: hsl(168, 34%, 41%);
  font-weight: 600;
}

footer .nav-link:focus,
footer .nav-link:hover {
  color: #fff;
}

footer .social-icons {
  font-size: 1.1rem;
}
